@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
}


.hero_section-bg {
    background-image: url("/assets/Bagan/bagan_bg.jpg");
    background-size: cover;
    color: #d8d8d8;
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav span {
    font-family: 'Inria Serif', serif;
    font-size: 25px;
    cursor: pointer;
}

nav img {
    cursor: pointer;
}

.nav_links ul {
    display: flex;
    gap: 100px;
}

.nav_links ul li {
    list-style: none;
    font-size: 15px;
}

.nav_links ul li a:hover {
    color: #ECA22A;
}

a {
    text-decoration: none;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
}

.hero_title {
    letter-spacing: 30px;
    font-family: 'Inria Serif', serif;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.hero_title h1 {
    font-size: 88px;
    font-weight: 600;

}

.hero_title p {
    letter-spacing: 12px;
    font-family: 'Inria Serif', serif;
    font-size: 18px;
}

.hero_section-textandimg {
    background-color: #1e1e1e;
    display: flex;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 90px;
    color: #d8d8d8;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;

}

.hero_section-text {
    padding-bottom: 30px;
    border-bottom: 0.5px solid #d8d8d8;
}

.hero_section-img img {
    border-top-left-radius: 30px;
}

.about_section {
    display: flex;
    background-color: #1e1e1e;
    color: #d8d8d8;
    align-items: center;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.about_section p {
    padding: 0 70px;
}

.about_section img {
    border-top-right-radius: 60px;
}

.about-text {
    margin-bottom: 100px;
}

.directory {
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    color: #1E1E1E;
}

.directory-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 70px;
    padding-right: 70px;
    width: 80%;
}

.directory button {
    margin: 30px 0;
    padding: 6px 27px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ECA22A;
    color: #fff;
    background-color: #ECA22A;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.directory button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ECA22A;
    color: #ECA22A;
    transition: 0.5s;
}


footer {
    background: rgb(57, 57, 57);
    background: linear-gradient(60deg, rgba(57, 57, 57, 1) 34%, rgba(30, 30, 30, 1) 67%);
}

.footer_bothside {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    color: #d8d8d8;
    display: flex;
    align-items: center;
}

.footer_bothside h2 {
    font-family: 'Inria Serif', serif;

}

.footer_bothside p {
    font-family: 'Open Sans', sans-serif;
}

.footer_leftside {
    font-size: 15px;
}

.footer_leftside p {
    line-height: 25px;
}

.footer_rightside {
    padding-right: 300px;
    font-size: 15px;

}

.footer_rightside h2 {
    padding-bottom: 20px;
}

.footer_rightside span {
    line-height: 25px;
}

.logo_text {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;
}

.logo_text img {
    cursor: pointer;
}

.logo_text h2 {
    cursor: pointer;
}

.footer_underline {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 2px solid #d8d8d8;
}

.copyright {
    color: #816969;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

.icons img {
    cursor: pointer;
    margin-right: 15px;
}

.icons img:hover {
    filter: invert(0.4) sepia(1) saturate(6.3) hue-rotate(0deg) brightness(1);
}